html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

* {
    transition: all 0.8s;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("./assets/bcg.jpg") no-repeat;
    background-size: cover;
}

h1 {
    font-size: 4rem;
    color: #8e8e93;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    color: #8e8e93;
    margin-bottom: 1rem;
}

h2 a {
    text-decoration: none;
    color: tomato;
}

.accordion {
    padding: 3rem;
    color: white;
    border: 0.1rem solid #147efb;
    background-color: #147efb;
    border-radius: 2rem;
    font-size: 3rem;
    width: 82rem;
}

.accordion:hover .item__head {
    color: black;
}

.accordion:hover .icon {
    opacity: 100;
}

.accordion ul {
    list-style: none;
}

.accordion-item {
    padding-bottom: 1rem;
}

.accordion-item:hover .item__body {
    width: 28rem;
    height: 28rem;
}

.accordion-item:focus .item__body {
    width: 28rem;
    height: 28rem;
}

.accordion-item:focus .icon {
    transform: rotate(45deg);
}

.accordion-item:hover .icon {
    transform: rotate(45deg);
}

.accordion-item:hover {
    cursor: pointer;
}

.item__head {
    display: flex;
    justify-content: space-between;
}

.icon {
    opacity: 0;
    margin-top: 0.5rem;
    width: 3rem;
    background: url("./assets/plus.svg") no-repeat top left;
    background-size: cover;
}

.item__body {
    margin: 0 auto;
    width: 0;
    height: 0;
    background-size: cover;
}

#first-meme {
    background-image: url("./assets/mem1.jpg");
}

#second-meme {
    background-image: url("./assets/mem2.jpg");
}

#third-meme {
    background-image: url("./assets/mem3.jpg");
}

#fourth-meme {
    background-image: url("./assets/mem4.jpg");
}